{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}


{% block search %}
    <div class="onecol">
        <h2 style="text-align:center;color:white">ĐỔI MẬT KHẨU</h2><br/><br/>
        {% if messages %}
            {% for message in messages %}
            <div class="{% if message.tags %}alert alert-{{ message.tags }}{% else %}alert{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <form method="post">
        <form method="post">
            {% csrf_token %}
            <table style="margin: 0 auto;">
                <tr>
                    <td> <strong>Mật khẩu cũ</strong></td>
                    <td> {{ form.old_password }}</td>
                </tr>
                <tr>
                    <td> <strong>Mật khẩu mới</strong></td>
                    <td> {{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td> <strong>Nhập lại mật khẩu mới</strong></td>
                    <td> {{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button class="btn" type="submit">Đổi Mật Khẩu</button></td>
                </tr>
            </table>
           <br/><br/>           
           
          </form>
          {% if form.errors %}
            <div class="error">
                <strong>Có lỗi xảy ra:</strong>
                {{ form.old_password.errors }}
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
            </div>
        {% endif %}
    </div>

    
{% endblock search %}