{% extends 'app/base.html' %}
{% load static %}


{% block search %}
<div class="onecol">
          <div class="row_course_ts">
            <form id="postForm" action ="/take-quiz/" method='post'>
                <h6 style="color:white;padding-left: 20px;padding-top: 20px" > Xin chào thí sinh: <b> {{ request.user.student.name}} </b> </h6>
                <h6 style="color:white;padding-left: 20px;padding-top: 20px" > Dưới đây là danh sách bài thi bạn cần tham dự: </b> </h6>
                {% csrf_token %}
                {%for course in courses %}        
                    <div class="row_course">        
                        <div class="">
                            <h6><strong>{{ course.course_name}}</strong></h6>
                            <hr>
                            <button type="submit" name="CourseID" value={{course.id}} data-course={{course.id}} data-action = "add" class="btn btn-outline-secondary add-btn take-quiz">Vào thi</button>
                            
                        </div>
                    </div>
                
                {% endfor %}
            </form>
        </div>
        {% if request.user.is_staff %}
        <div class="row_course_qt">
            <h6 style="color:white;padding-left: 20px;padding-top: 40px" > Danh sách kỳ thi đang diễn ra: </b> </h6>
                <form id="result_course_post" action ="/Result_Course/" method='post'>
                    {% csrf_token %}
                    {%for course in courses %}        
                        <div class="row_course">        
                            <div class="">
                                <h6><strong>{{ course.course_name}}</strong></h6>
                                <hr>
                                <button type="submit" name="CourseID_Result" value={{course.id}} data-course={{course.id}} data-action = "add" class="btn btn-outline-secondary add-btn" onclick="goToResultCourse({{ course.id }})">Chi tiết</button>                
                            </div>
                        </div>
                    
                    {% endfor %}
                </form>            
        </div>
        {% endif %}
</div>

<div id="my-container" ></div>

{% endblock search %}