{% extends 'app/base.html' %}
{% load static %}


{% block search %}
<div class="container">
  <div class="left-container">
    <h2>Trang thi</h2>
    <div class="course" name="couserid" value={{course.id}}>
      <h4>{{course.course_name}}</h4>
    </div> 
    <form method="post" action="{% url 'submit_quiz' %}">
      <input type="hidden" name="quiz_id" id="quizid" value="{{ quiz.id }}">
      <h4>Bài thi của: </h4>
      {% csrf_token %}
      
      {% for question in quiz_questions %}
        <div class="question" data-question-id={{ question.id }}>
          <p> Câu {{ forloop.counter }}: {{ question.question_text }}</p>
          {% for answer in question.answer_set.all %}       
              <input type="radio" onclick="updateQuestionStatus({{ question.id }})" name="question_{{ question.id }}" value="{{ answer.id }}" {% if answer.id in answers %}checked{% endif %}>
              {{ answer.answer_text }}          
            <br/>       
          {% endfor %}      
        </div>  
      {% endfor %}
      <div id="score-container">
        <p>Điểm số: <span id="score">0</span></p>
      </div>
      <button type="button" id="save-button" value="save" class="btn btn-outline-secondary add-btn take-quiz" >Lưu</button>
      <button type="button" id="submit-button" value="endtest" class="btn btn-outline-secondary add-btn take-quiz">Nộp bài</button>
      </form>
      <a  href="{% url 'result' quiz.id %}">Xem kết quả</a>
  </div>
  <div class="right-container">
    <h4>Câu hỏi</h4>
    <div class="question-list">
        {% for question in quiz_questions %}
            <div class="question-item" name="questionid" value="{{ question.id }}" onclick="scrollToQuestion({{ question.id }})">
                {{ forloop.counter }}
            </div>
        {% endfor %}
    </div>  
  </div>
</div>
<script>
  const selectedAnswers = {};
  GetAllSelectedAnswers();
  

  function scrollToQuestion(questionId) {
    // Tìm phần tử câu hỏi dựa trên data-question-id
    const question = document.querySelector(`.question[data-question-id="${questionId}"]`);
    
    if (question) {
        // Cuộn trang web đến câu hỏi
        question.scrollIntoView({ behavior: "smooth" });
    }
}

  

  // Hàm cập nhật trạng thái của câu hỏi trong danh sách bên phải
  function updateQuestionStatus(questionId) {
    const listItem = document.querySelector(`.question-item[value="${questionId}"]`)
    //const listItem = document.querySelector(`[value="${questionId}"]`);
    if (listItem) {
      listItem.style.backgroundColor = "green"; // Câu đã trả lời       
    }
  }  

  function GetAllSelectedAnswers()
  {
    document.querySelectorAll(".question").forEach(question => {
      const questionId = question.getAttribute("data-question-id");
    
        // Tìm câu trả lời được chọn trong câu hỏi
      const selectedAnswerInput = question.querySelector('input[type="radio"]:checked');
        
      if (selectedAnswerInput) {
            // Nếu có câu trả lời được chọn, lưu nó vào selectedAnswers
        selectedAnswers[questionId] = selectedAnswerInput.value;
        updateQuestionStatus(questionId)
      } 
    });
  }
  </script>
{% endblock search %}